.displaynone{
  display: none;
}
body {
  width: 275px;
}
.logo{
  width: 100%;
  text-align: center;
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc 10%, #1cc88a 100%);
  color: white;
  padding-bottom: .25rem;
}
.title{
  display: inline;
}
.pocket {
  transform: rotate(-15deg);
}
.account {
  margin-top: .5rem;
}
.login {
  margin-bottom: .5rem;
}
form {
  text-align: center;
  width: 100%;
}
.form-control-custom{
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  margin-bottom: 5px;
  height: 42px;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.js-tag-select {
  width: 150px;
}
.spinner-border {
  text-align: center;
}
.logout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #36b9cc;
  border: 0;
}
.loading {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.save {
  display:block;
  margin-left: 15px;
  margin-bottom: .5rem;
}
.btn-info {
  color: #fff;
  background-color: #36b9cc;
  border-color: #36b9cc;
}